<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Notebook-Configuration" data-toc-modified-id="Notebook-Configuration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Notebook Configuration</a></span><ul class="toc-item"><li><span><a href="#Google-Drive" data-toc-modified-id="Google-Drive-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Google Drive</a></span></li><li><span><a href="#Warning" data-toc-modified-id="Warning-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Matplotlib" data-toc-modified-id="Matplotlib-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Matplotlib</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Loading-data" data-toc-modified-id="Loading-data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Loading data</a></span></li><li><span><a href="#Getting-the-name-of-the-target" data-toc-modified-id="Getting-the-name-of-the-target-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Getting the name of the target</a></span></li><li><span><a href="#Dividing-the-training-data-into-training-and-validation" data-toc-modified-id="Dividing-the-training-data-into-training-and-validation-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Dividing the training data into training and validation</a></span></li><li><span><a href="#Handling-the-identifiers" data-toc-modified-id="Handling-the-identifiers-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Handling the identifiers</a></span></li><li><span><a href="#Handling-uncommon-variables" data-toc-modified-id="Handling-uncommon-variables-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Handling uncommon variables</a></span></li><li><span><a href="#Handling-date-time-variables" data-toc-modified-id="Handling-date-time-variables-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Handling date time variables</a></span></li><li><span><a href="#Handling-missing-data" data-toc-modified-id="Handling-missing-data-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Handling missing data</a></span></li><li><span><a href="#Encoding-the-data" data-toc-modified-id="Encoding-the-data-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Encoding the data</a></span></li><li><span><a href="#Getting-the-name-of-the-features" data-toc-modified-id="Getting-the-name-of-the-features-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Getting the name of the features</a></span></li><li><span><a href="#Getting-the-feature-matrix-and-target-vector" data-toc-modified-id="Getting-the-feature-matrix-and-target-vector-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Getting the feature matrix and target vector</a></span></li><li><span><a href="#Scaling-the-data" data-toc-modified-id="Scaling-the-data-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Scaling the data</a></span></li></ul></li><li><span><a href="#Hyperparameter-Tuning-and-Model-Selection" data-toc-modified-id="Hyperparameter-Tuning-and-Model-Selection-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hyperparameter Tuning and Model Selection</a></span><ul class="toc-item"><li><span><a href="#Creating-the-dictionary-of-the-models" data-toc-modified-id="Creating-the-dictionary-of-the-models-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Creating the dictionary of the models</a></span></li><li><span><a href="#Creating-the-dictionary-of-the-pipelines" data-toc-modified-id="Creating-the-dictionary-of-the-pipelines-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Creating the dictionary of the pipelines</a></span></li><li><span><a href="#Hyperparameter-tuning-and--model-selection-using-Sklearn-(0.22-or-above)" data-toc-modified-id="Hyperparameter-tuning-and--model-selection-using-Sklearn-(0.22-or-above)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Hyperparameter tuning and  model selection using Sklearn (0.22 or above)</a></span><ul class="toc-item"><li><span><a href="#Getting-the-predefined-split-cross-validator" data-toc-modified-id="Getting-the-predefined-split-cross-validator-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>Getting the predefined split cross-validator</a></span></li><li><span><a href="#Creating-the-dictionary-of-the-parameter-grids" data-toc-modified-id="Creating-the-dictionary-of-the-parameter-grids-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>Creating the dictionary of the parameter grids</a></span><ul class="toc-item"><li><span><a href="#The-parameter-grid-for-multi-layer-perceptron-classifier" data-toc-modified-id="The-parameter-grid-for-multi-layer-perceptron-classifier-4.3.2.1"><span class="toc-item-num">4.3.2.1&nbsp;&nbsp;</span>The parameter grid for multi-layer perceptron classifier</a></span></li></ul></li><li><span><a href="#Creating-the-directory-for-the-cv-results." data-toc-modified-id="Creating-the-directory-for-the-cv-results.-4.3.3"><span class="toc-item-num">4.3.3&nbsp;&nbsp;</span>Creating the directory for the cv results.</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-4.3.4"><span class="toc-item-num">4.3.4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-4.3.5"><span class="toc-item-num">4.3.5&nbsp;&nbsp;</span>Model Selection</a></span></li></ul></li></ul></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Generating the Submission File</a></span></li></ul></div>

<b>

<p>
<center>
<font size="5">
Machine Learning I (DATS 6202), Spring 2020
</font>
</center>
</p>

<p>
<center>
<font size="4">
Midterm
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Jialei Chen, Changhao Ying, Zhilin Wang
</font>
</center>
</p>

</b>

# Overview
- Here we will work on kaggle competation [San Francisco Crime Classification](https://www.kaggle.com/c/sf-crime)
- Complete the missing parts indicated by # Implement me
- Note that:
    - You are strongly recommended to use Google Colab for this exam.
    - You should only use Sklearn MLPClassifier for this exam (as suggested in Section *Creating the dictionary of the models*).
    - The best score in Section *Model Selection* (0.272724) is a baseline. You will not be penalized if your score is lower than the baseline. However, if your score is higher than the baseline, you will recieve 1 bonus point.
    - Due to the size of the data, fine-tuning the hyperparameters of MLPClassifier can be time consuming (in hours). As a result, you should be careful about the hyperparameters you would like to fine-tune and their parameter grids (assuming you are using GridSearchCV).
- As always, the code should
    - be bug-free (note that the output produced by your solution may not necessarily be the same as the provided output, due to version issues)
    - be commented
- **Marks will be deducted if the above requirements (for the code) are not met**
- Submit an ipynb file named midterm.ipynb to [blackboard](https://blackboard.gwu.edu) folder /Tests/midterm/

# Data Preprocessing

## Loading data

In [30]:
# Implement me
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Load the raw training data
df_raw_train = pd.read_csv('high_diamond_ranked_10min.csv', header=0)
# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw testing data
df_raw_test = pd.read_csv('high_diamond_ranked_10min.csv', header=0)
# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

In [31]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    9879         40

In [32]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    9879         40

In [33]:
# Print the first 5 rows of df_train
df_train.columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [86]:
plt.figure(figsize=(40,40)) 

def find_relation(df, cor = 1):
    li = set()
    column_li = df.columns
    corr = df.corr()
    for i in column_li:
        for j in column_li:
            if i != j and abs(corr[i][j]) == cor:
                #print('{i}-{j}-{cor}'.format(i=i, j=j, cor=corr[i][j]))
                temp = frozenset([i,j,corr[i][j]])
                li.add(temp)
    return li

In [87]:
set(find_relation(df_train))

{frozenset({-1.0, 'blueGoldDiff', 'redGoldDiff'}),
 frozenset({1.0, 'blueKills', 'redDeaths'}),
 frozenset({-1.0, 'blueFirstBlood', 'redFirstBlood'}),
 frozenset({1.0, 'blueDeaths', 'redKills'}),
 frozenset({-1.0, 'blueExperienceDiff', 'redExperienceDiff'})}

TypeError: unhashable type: 'set'

## Getting the name of the target

In [0]:
# Implement me
target = 'Category'

## Dividing the training data into training and validation

In [0]:
# Implement me
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
df_train, df_valid = train_test_split(df_train, train_size=0.8, random_state=42, stratify=df_train[target])

# Reset the index
df_train, df_valid = df_train.reset_index(drop=True), df_valid.reset_index(drop=True)

In [11]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  702439          9

In [12]:
# Print the dimension of df_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  175610          9

## Handling the identifiers

In [0]:
# Implement me
# Combine df_train, df_valid and df_test
df = pd.concat([df_train, df_valid, df_test], sort=False)

In [0]:
def id_checker(df):
    """
    The identifier checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of identifiers
    """
    
    # Get the identifiers
    df_id = df[[var for var in df.columns 
                if df[var].nunique(dropna=True) == df[var].notnull().sum()]]
    
    return df_id

In [15]:
# Call id_checker on df
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

   Id
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN

In [0]:
import numpy as np

# Remove the identifiers from df_train
df_train = df_train.drop(columns=np.intersect1d('Id', df_train.columns))

# Remove the identifiers from df_valid
df_valid = df_valid.drop(columns=np.intersect1d('Id', df_valid.columns))

# Remove the identifiers from df_test
df_test = df_test.drop(columns=np.intersect1d('Id', df_test.columns))

In [17]:
# Print the first 5 rows of df_train
df_train.head()

                 Dates        Category  ...           X          Y
0  2014-10-18 02:30:00        BURGLARY  ... -122.400904  37.752101
1  2004-05-01 00:30:00   LARCENY/THEFT  ... -122.430437  37.772107
2  2006-06-28 16:45:00   DRUG/NARCOTIC  ... -122.420602  37.762928
3  2009-06-14 22:00:00   LARCENY/THEFT  ... -122.425111  37.804146
4  2010-03-24 14:38:00  OTHER OFFENSES  ... -122.412899  37.785097

[5 rows x 9 columns]

In [18]:
# Print the first 5 rows of df_valid
df_valid.head()

                 Dates        Category  ...           X          Y
0  2014-12-11 19:45:00    NON-CRIMINAL  ... -122.402070  37.788720
1  2015-04-01 14:28:00   LARCENY/THEFT  ... -122.406213  37.786037
2  2013-09-07 02:20:00  OTHER OFFENSES  ... -122.404260  37.798116
3  2011-02-27 08:15:00        WARRANTS  ... -122.408437  37.781954
4  2008-10-29 23:09:00  OTHER OFFENSES  ... -122.424542  37.801304

[5 rows x 9 columns]

In [19]:
# Print the first 5 rows of df_test
df_test.head()

                 Dates DayOfWeek  ...           X          Y
0  2015-05-10 23:59:00    Sunday  ... -122.399588  37.735051
1  2015-05-10 23:51:00    Sunday  ... -122.391523  37.732432
2  2015-05-10 23:50:00    Sunday  ... -122.426002  37.792212
3  2015-05-10 23:45:00    Sunday  ... -122.437394  37.721412
4  2015-05-10 23:45:00    Sunday  ... -122.437394  37.721412

[5 rows x 6 columns]

## Handling uncommon variables

In [0]:
# Implement me
import numpy as np

def common_var_checker(df_train, df_test, target):
    """
    The common variables checker

    Parameters
    ----------
    df_train : dataframe of training data
    df_test : dataframe of testing data
    target : the name of the target

    Returns
    ----------
    The dataframe of common variables between the training and testing data
    """
    
    # Get the dataframe of common variables between the training and testing data
    df_common_var = pd.DataFrame(np.intersect1d(df_train.columns, np.union1d(df_test.columns, [target])),
                                 columns=['common var'])
                
    return df_common_var

In [21]:
# Call common_var_checker
df_common_var = common_var_checker(df_train, df_test, target)

# Print df_common_var
df_common_var

   common var
0     Address
1    Category
2       Dates
3   DayOfWeek
4  PdDistrict
5           X
6           Y

In [22]:
# Get the variables in the training data but not in the testing data
uncommon_var_train_not_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon variables
pd.DataFrame(uncommon_var_train_not_test, columns=['uncommon var'])

  uncommon var
0     Descript
1   Resolution

In [23]:
# Get the variables in the testing data but not in the training data
uncommon_var_test_not_train = np.setdiff1d(df_test.columns, df_common_var['common var'])

# Print the uncommon variables
pd.DataFrame(uncommon_var_test_not_train, columns=['uncommon var'])

Empty DataFrame
Columns: [uncommon var]
Index: []

In [24]:
# Remove the uncommon variables from the training data
df_train = df_train.drop(columns=uncommon_var_train_not_test)

# Print the first 5 rows of df_train
df_train.head()

                 Dates        Category  ...           X          Y
0  2014-10-18 02:30:00        BURGLARY  ... -122.400904  37.752101
1  2004-05-01 00:30:00   LARCENY/THEFT  ... -122.430437  37.772107
2  2006-06-28 16:45:00   DRUG/NARCOTIC  ... -122.420602  37.762928
3  2009-06-14 22:00:00   LARCENY/THEFT  ... -122.425111  37.804146
4  2010-03-24 14:38:00  OTHER OFFENSES  ... -122.412899  37.785097

[5 rows x 7 columns]

In [25]:
# Remove the uncommon variables from the validation data
df_valid = df_valid.drop(columns=uncommon_var_train_not_test)

# Print the first 5 rows of df_train
df_valid.head()

                 Dates        Category  ...           X          Y
0  2014-12-11 19:45:00    NON-CRIMINAL  ... -122.402070  37.788720
1  2015-04-01 14:28:00   LARCENY/THEFT  ... -122.406213  37.786037
2  2013-09-07 02:20:00  OTHER OFFENSES  ... -122.404260  37.798116
3  2011-02-27 08:15:00        WARRANTS  ... -122.408437  37.781954
4  2008-10-29 23:09:00  OTHER OFFENSES  ... -122.424542  37.801304

[5 rows x 7 columns]

In [26]:
# Remove the uncommon variables from the testing data
df_test = df_test.drop(columns=uncommon_var_test_not_train)

# Print the first 5 rows of df_test
df_test.head()

                 Dates DayOfWeek  ...           X          Y
0  2015-05-10 23:59:00    Sunday  ... -122.399588  37.735051
1  2015-05-10 23:51:00    Sunday  ... -122.391523  37.732432
2  2015-05-10 23:50:00    Sunday  ... -122.426002  37.792212
3  2015-05-10 23:45:00    Sunday  ... -122.437394  37.721412
4  2015-05-10 23:45:00    Sunday  ... -122.437394  37.721412

[5 rows x 6 columns]

## Handling date time variables

In [0]:
# Implement me
def datetime_transformer(df, datetime_vars):
    """
    The datetime transformer

    Parameters
    ----------
    df : dataframe
    datetime_vars : the datetime variables
    
    Returns
    ----------
    The dataframe where datetime_vars are transformed into the following 6 datetime types:
    year, month, day, hour, minute and second
    """
    
    # The dictionary with key as datetime type and value as datetime type operator
    dict_ = {'year'   : lambda x : x.dt.year,
             'month'  : lambda x : x.dt.month,
             'day'    : lambda x : x.dt.day,
             'hour'   : lambda x : x.dt.hour,
             'minute' : lambda x : x.dt.minute,
             'second' : lambda x : x.dt.second}
    
    # Make a copy of df
    df_datetime = df.copy(deep=True)
    
    # For each variable in datetime_vars
    for var in datetime_vars:
        # Cast the variable to datetime
        df_datetime[var] = pd.to_datetime(df_datetime[var])
        
        # For each item (datetime_type and datetime_type_operator) in dict_
        for datetime_type, datetime_type_operator in dict_.items():
            # Add a new variable to df_datetime where:
            # the variable's name is var + '_' + datetime_type
            # the variable's values are the ones obtained by datetime_type_operator
            df_datetime[var + '_' + datetime_type] = datetime_type_operator(df_datetime[var])
            
    # Remove datetime_vars from df_datetime
    df_datetime = df_datetime.drop(columns=datetime_vars)
                
    return df_datetime

In [28]:
# Call datetime_transformer on df_train
df_train = datetime_transformer(df_train, ['Dates'])

# Print the first 5 rows of df_train
df_train.head()

         Category  DayOfWeek  ... Dates_minute Dates_second
0        BURGLARY   Saturday  ...           30            0
1   LARCENY/THEFT   Saturday  ...           30            0
2   DRUG/NARCOTIC  Wednesday  ...           45            0
3   LARCENY/THEFT     Sunday  ...            0            0
4  OTHER OFFENSES  Wednesday  ...           38            0

[5 rows x 12 columns]

In [29]:
# Call datetime_transformer on df_valid
df_valid = datetime_transformer(df_valid, ['Dates'])

# Print the first 5 rows of df_train
df_valid.head()

         Category  DayOfWeek  ... Dates_minute Dates_second
0    NON-CRIMINAL   Thursday  ...           45            0
1   LARCENY/THEFT  Wednesday  ...           28            0
2  OTHER OFFENSES   Saturday  ...           20            0
3        WARRANTS     Sunday  ...           15            0
4  OTHER OFFENSES  Wednesday  ...            9            0

[5 rows x 12 columns]

In [30]:
# Call datetime_transformer on df_test
df_test = datetime_transformer(df_test, ['Dates'])

# Print the first 5 rows of df_test
df_test.head()

  DayOfWeek PdDistrict  ... Dates_minute  Dates_second
0    Sunday    BAYVIEW  ...           59             0
1    Sunday    BAYVIEW  ...           51             0
2    Sunday   NORTHERN  ...           50             0
3    Sunday  INGLESIDE  ...           45             0
4    Sunday  INGLESIDE  ...           45             0

[5 rows x 11 columns]

## Handling missing data

In [0]:
# Implement me
# Combine df_train, df_valid and df_test
df = pd.concat([df_train, df_valid, df_test], sort=False)

In [0]:
def nan_checker(df):
    """
    The NaN checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of variables with NaN, their proportion of NaN and dtype
    """
    
    # Get the variables with NaN, their proportion of NaN and dtype
    df_nan = pd.DataFrame([[var, df[var].isna().sum() / df.shape[0], df[var].dtype]
                           for var in df.columns if df[var].isna().sum() > 0],
                          columns=['var', 'proportion', 'dtype'])
    
    # Sort df_nan in accending order of the proportion of NaN
    df_nan = df_nan.sort_values(by='proportion', ascending=False).reset_index(drop=True)
    
    return df_nan

In [33]:
# Call nan_checker on df
df_nan = nan_checker(df)

# Print df_nan
df_nan

        var  proportion   dtype
0  Category    0.501763  object

In [34]:
# Print the unique dtype of the variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

    dtype
0  object

In [35]:
# Get the variables with missing values, their proportion of missing values and dtype
df_miss = df_nan[df_nan['dtype'] == 'object'].reset_index(drop=True)

# Print df_miss
df_miss

        var  proportion   dtype
0  Category    0.501763  object

In [0]:
import numpy as np

# Remove rows with missing values from df_train
df_train = df_train.dropna(subset=np.intersect1d(df_miss['var'], df_train.columns), inplace=False)

# Remove rows with missing values from df_valid
df_valid = df_valid.dropna(subset=np.intersect1d(df_miss['var'], df_valid.columns), inplace=False)

# Remove rows with missing values from df_test
df_test = df_test.dropna(subset=np.intersect1d(df_miss['var'], df_test.columns), inplace=False)

In [37]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  702439         12

In [38]:
# Print the dimension of df_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  175610         12

In [39]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  884262         11

## Encoding the data

In [40]:
# Implement me
# Combine df_train, df_valid and df_test
df = pd.concat([df_train, df_valid, df_test], sort=False)

# Print the unique dtype of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0   object
1  float64
2    int64

In [0]:
def cat_var_checker(df):
    """
    The categorical variable checker

    Parameters
    ----------
    df: the dataframe
    
    Returns
    ----------
    The dataframe of categorical variables and their number of unique value
    """
    
    # Get the dataframe of categorical variables and their number of unique value
    df_cat = pd.DataFrame([[var, df[var].nunique(dropna=False)]
                           for var in df.columns if df[var].dtype == 'object'],
                          columns=['var', 'nunique'])
    
    # Sort df_cat in accending order of the number of unique value
    df_cat = df_cat.sort_values(by='nunique', ascending=False).reset_index(drop=True)
    
    return df_cat

In [42]:
# Call cat_var_checker on df
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

          var  nunique
0     Address    24777
1    Category       40
2  PdDistrict       10
3   DayOfWeek        7

In [0]:
# Remove features from df
df = df.drop(columns=['Address'])

In [44]:
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(np.intersect1d(df.columns, df_cat['var']), [target]))

# Print the first 5 rows of df
df.head()

         Category           X  ...  PdDistrict_TARAVAL  PdDistrict_TENDERLOIN
0        BURGLARY -122.400904  ...                   0                      0
1   LARCENY/THEFT -122.430437  ...                   0                      0
2   DRUG/NARCOTIC -122.420602  ...                   0                      0
3   LARCENY/THEFT -122.425111  ...                   0                      0
4  OTHER OFFENSES -122.412899  ...                   0                      1

[5 rows x 26 columns]

In [45]:
from sklearn.preprocessing import LabelEncoder

# The LabelEncoder
le = LabelEncoder()

# Encode the categorical target in the combined data
df[target] = le.fit_transform(df[target].astype(str))

# Print the first 5 rows of df
df.head()

   Category           X  ...  PdDistrict_TARAVAL  PdDistrict_TENDERLOIN
0         4 -122.400904  ...                   0                      0
1        16 -122.430437  ...                   0                      0
2         7 -122.420602  ...                   0                      0
3        16 -122.425111  ...                   0                      0
4        21 -122.412899  ...                   0                      1

[5 rows x 26 columns]

In [0]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :].copy(deep=True)

# Separating the validation data
df_valid = df.iloc[df_train.shape[0]:df_train.shape[0] + df_valid.shape[0], :].copy(deep=True)

# Separating the testing data
df_test = df.iloc[df_train.shape[0] + df_valid.shape[0]:, :].copy(deep=True)

In [47]:
# Print the dimension of df_remove_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  702439         26

In [48]:
# Print the dimension of df_remove_valid
pd.DataFrame([[df_valid.shape[0], df_valid.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  175610         26

In [49]:
# Print the dimension of df_remove_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  884262         26

## Getting the name of the features

In [0]:
features = np.setdiff1d(df.columns, [target])

## Getting the feature matrix and target vector

In [0]:
# Get the feature matrix
X_train = df_train[features].to_numpy()
X_valid = df_valid[features].to_numpy()
X_test = df_test[features].to_numpy()

# Get the target vector
y_train = df_train[target].astype(int).to_numpy()
y_valid = df_valid[target].astype(int).to_numpy()

## Scaling the data

In [0]:
# Implement me
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

# Standardize the training data
X_train = ss.fit_transform(X_train)

# Standardize the validation data
X_valid = ss.transform(X_valid)

# Standardize the testing data
X_test = ss.transform(X_test)

# Hyperparameter Tuning and Model Selection

## Creating the dictionary of the models
- In the dictionary:
    - the key is the acronym of the model
    - the value is the model

In [0]:
from sklearn.neural_network import MLPClassifier

models = {'mlpc': MLPClassifier(early_stopping=True, random_state=42)}

## Creating the dictionary of the pipelines
In the dictionary:
- the key is the acronym of the model
- the value is the pipeline, which, for now, only includes the model

In [0]:
# Implement me
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

## Hyperparameter tuning and  model selection using Sklearn (0.22 or above)

### Getting the predefined split cross-validator

In [0]:
# Implement me
from sklearn.model_selection import PredefinedSplit

# Combine the feature matrix in the training and validation data
X_train_valid = np.vstack((X_train, X_valid))

# Combine the target vector in the training and validation data
y_train_valid = np.append(y_train, y_valid)

# Get the indices of training and validation data
train_valid_idxs = np.append(np.full(X_train.shape[0], -1), np.full(X_valid.shape[0], 0))

# The PredefinedSplit
ps = PredefinedSplit(train_valid_idxs)

### Creating the dictionary of the parameter grids
- In the dictionary:
    - the key is the acronym of the model
    - the value is the parameter grid of the model

In [0]:
# Implement me
param_grids = {}

#### The parameter grid for multi-layer perceptron classifier
The hyperparameters we want to fine-tune are:
- alpha
- learning_rate_init

See details of the meaning of the hyperparametes in [sklearn.neural_network.MLPClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html)

In [0]:
# Implement me
# The grids for alpha
alpha_grids = [10 ** i for i in range(-4, 1)]

# The grids for learning_rate_init
learning_rate_init_grids = [10 ** i for i in range(-6, -1)]

# Update param_grids
param_grids['mlpc'] = [{'model__alpha': alpha_grids,
            'model__learning_rate_init': learning_rate_init_grids}]

### Creating the directory for the cv results.

In [0]:
# Implement me
import os

# Make directory
directory = os.path.dirname('cv_results/')
if not os.path.exists(directory):
    os.makedirs(directory)

### Hyperparameter Tuning

In [0]:
# Implement me
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_param_estimator_gs = []

for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='f1_micro',
                      n_jobs=-1,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_valid, y_train_valid)
    
    # Update best_score_param_estimator_gs
    best_score_param_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf='cv_results/' + acronym + '.csv', index=False)

### Model Selection

In [60]:
# Sort best_score_param_estimator_gs in descending order of the best_score_
best_score_param_estimator_gs = sorted(best_score_param_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_param_estimator_gs
pd.DataFrame(best_score_param_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

   best_score  ...                                     best_estimator
0    0.269614  ...  (MLPClassifier(activation='relu', alpha=0.0001...

[1 rows x 3 columns]

# Generating the Submission File

In [0]:
# Get the best_score, best_param and best_estimator obtained by GridSearchCV
best_score_gs, best_param_gs, best_estimator_gs = best_score_param_estimator_gs[0]

# Get the prediction on the testing data using best_model
y_test_pred = best_estimator_gs.predict(X_test)

# Transform y_test_pred back to the original class
y_test_pred = le.inverse_transform(y_test_pred)

# Get the sorted categories of the target in the training data
cat_train = np.sort(np.unique(df_raw_train[target]))

# Get the sorted categories of the target in the testing data
cat_test = np.sort(np.unique(y_test_pred))

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test['Id'].to_numpy().reshape(-1, 1), np.zeros((y_test_pred.shape[0], cat_train.shape[0])))),
                         columns=['Id'] + list(cat_train))

# One-hot-encode y_test_pred
df_y_test_pred = pd.get_dummies(y_test_pred, columns=cat_test)                                                                               

# Update df_submit
df_submit[df_y_test_pred.columns] = df_y_test_pred

# Generate the submission file
df_submit.astype(int).to_csv('submission.csv', index=False)